@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');


:root {
  --primary-color: #f3bd4a;
  --primary-dark: #ebb645;
  --primary-text: #381D00;
  --secondary-text: #381d0080;
  --light-text: #2513009f;

}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 30px;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button {
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: var(--primary-text);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-dark);
}
